
<app-header *ngIf="location.loged"></app-header>
<div>
  <!-- <h1>Welcome to my firest JSON project</h1> -->
  <!-- <app-nav></app-nav> -->
  <router-outlet></router-outlet>
  
  
  
  <!-- <app-login *ngIf="location.locationApp =='login'"></app-login>
    <app-homepage *ngIf="location.locationApp =='homepage'"></app-homepage>
    <app-users *ngIf="location.location =='users'"></app-users>
    
    
    <app-posts *ngIf="location.location =='posts'"></app-posts>
    <app-albums *ngIf="location.location =='albums'"></app-albums>
    <app-todos *ngIf="location.location =='todos'"></app-todos>
    <app-comments *ngIf="location.location =='comments'"></app-comments> -->
    <app-new-form></app-new-form>
</div>